{% extends 'home/asideLayout.html' %}
{% load widget_tweaks %}
{% block title %}
New Topic 
{% endblock %}
{% block sidebar %}

<div class="container">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
        <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
        <li class="breadcrumb-item active">New topic</li>
    </ol>
</div>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'boards/includes/form.html' %}
        <button type="submit" class="btn btn-success">Post</button>
    </form>
{% endblock %}