{% extends 'home/index.html' %}
{% block title %}
Database
{% endblock %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Database</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. </p>
   
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/static/imgs/home/Headerimg2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-center"><a href={% url 'foodindustrydata'%}>INDUSTRIES DATABASE</a></p> 
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group ">
                <button type="button" class="btn btn-sm btn-outline-secondary">OPEN</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/static/imgs/home/Headerimg2.jpg" alt="Card image cap">
          <div class="card-body">
              <p class="card-text text-center"><a href={% url 'foodcategoriesdata'%}>INGREDIENTS/SERVICES DATABASE</a></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">OPEN</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/static/imgs/home/Headerimg2.jpg" alt="Card image cap">
          <div class="card-body">
              <p class="card-text text-center"><a href={% url 'foodcategoriesdata'%}>INGREDIENTS/SERVICES DATABASE</a></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">OPEN</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>

{% endblock %}