{% extends 'home/index.html' %}
{% block title %}
Industry Types
{% endblock %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Start Your Search</h1>
    <p class="lead text-muted">Use AGROWHIZZ DATABASE’s search tool to find a list of company and contacts.  Building your list is as easy as 1, 2, 3</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-12"> 
                
                                
                <div class="container">
                    <ol class="breadcrumb my-4">
                        <li class="breadcrumb-item active"><h1>Categories List</h1></li>
                    </ol>
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Categories</th>
                            <th>Total</th>
                            <th>Views</th>
                            <th>Last Upadate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for database in databases %}
                            <tr>
                            <td>
                                <a href="{% url 'companyList' database.pk %}">{{ database.name }}</a>
                                <br>
                                <small class="text-muted d-block">{{ database.description }}</small>
                            </td>
                            <td class="align-middle">0</td>
                            <td class="align-middle">0</td>
                            <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    
        
                <a href="https://www.thefoodsafetynetwork.co.za/about-us"><strong>FROM THIS LINK</strong> </a>
                
                                
            </div>
            
        </div>
    </div>
</section>


{% endblock %}