{% extends 'home/index.html' %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Start Your Search</h1>
    <p class="lead text-muted">Use AGROWHIZZ DATABASE’s search tool to find a list of company and contacts.  Building your list is as easy as 1, 2, 3</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <form>
                    <div class="form-group"> <!-- Country field -->
                        <label class="control-label " for="name">Country Name</label>
                        <div class="bfh-selectbox bfh-countries" data-country="US" data-flags="true">
                        </div>
                    </div>               
                    <div class="form-group"> <!-- Country field -->
                        <label class="control-label " for="name">State/Province</label>
                        <div class="bfh-selectbox bfh-countries" data-country="US" data-flags="true">
                        </div>
                    </div>
                    
                    <div class="form-group"> <!-- Email field -->
                        <label class="control-label requiredField" for="email">State/Province</label>
                        <div class="bfh-selectbox bfh-states" data-country="US" data-state="CA">
                        </div>
                    </div>
                        
                </form>	
            </div>
            <div class="col-12 col-sm-8"> 
                <h1>Food Industry List</h1>
                
                    {% for database in databases %}
                      {{ database.name }} <br>
                    {% endfor %}
                
               
        
                <a href="https://www.thefoodsafetynetwork.co.za/about-us"><strong>FROM THIS LINK</strong> </a>
                
                                
            </div>
            
        </div>
    </div>
</section>


{% endblock %}