/* Showcase */

#showcase {
    min-height: 400px;
    background:url('/static/imgs/home/Headerimg2.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
  
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
  
#showcase p{
    font-size: 20px;
}
/* Newsletter */
#newsletter{
    padding: 10px;
    color: #ffffff;
    background: #2e4436;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1{
    height: 38px;
    background: #cccccc;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}

.articles {
    padding: 10px 10px ;
    margin: 10px;
}

