body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header nav h1 #agro{
  color: rgb(0, 255, 98);
  font-weight: bolder;

}

#whizz{
color: rgb(2, 2, 2);
font-weight: bolder;

}

/* Footer */

