body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow:hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  
  color: #ffffff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #32a0c2 3px solid;
  background-color: #2e4436;
}
header .container{
padding: 20px;
margin-top: 20px;
color: #ffffff;

}
  
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .topnav a{
  color: #8cc6e0;
}

header .topnav a:hover {
  color: #8cc6e0;
 
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
  
}

header #agro{
    color: rgb(0, 255, 98);
    font-weight: bolder;

}

header #whizz{
  color: rgb(2, 2, 2);
  font-weight: bolder;
  
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

/* Style the search box inside the navigation bar */
header .topnav{
  background: #f8faf9;
  padding: 40px;
  border: none;
  margin-top: 4px;
  font-size: 17px;
  color: #080808;
  background-size: cover;
}
header .topnav #topnavright  {

float: right;

}
header .topnav #topnavleft {
  float: left;
}


header .highlight, header .current a{
  color: #32a0c2;
  font-weight: bold;
     
}

header a:hover{
  color: #070707;
  font-weight: bold;
  background-color: rgb(0, 255, 98); 
  padding: 5px;
  border-radius: 5px;
}

/* Style the Footer and inside */
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #2e4436;
  text-align: center;
  min-height: 400px;
 
}

section .footinfo{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  min-height: 400px;
}
div.footbottom {
  
   float: none;
}


/* Style for the responsive web size 768px */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  header{
    padding-bottom: 20px;
  }
}