{% extends 'home/index.html' %}
{% block content %}
    <aside>
            <section >
                <div >
                    <h1 class="center-align">Latest News</h1>
                    <div class="col s12 m4">
                        <div class="card center-align z-depth-5">
                            
                            <h3 class="card-title">The importance of food hygienes</h3>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nulla id quisquam veritatis eius perspiciatis velit eum unde soluta, veniam aliquid deleniti ex similique. Aperiam molestiae natus nulla sit, quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section >
                <div >
                    <h1 class="center-align">Latest News</h1>
                    <div class="col s12 m4">
                        <div class="card center-align z-depth-5">
                            
                            <h3 class="card-title">The importance of food hygienes</h3>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nulla id quisquam veritatis eius perspiciatis velit eum unde soluta, veniam aliquid deleniti ex similique. Aperiam molestiae natus nulla sit, quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </aside>
{% endblock %}