{% extends 'home/index.html' %}
{% block content %}
    <section id="showcase">
        <div class="container">
            <h1>Specialiste in Food Safety, Food Quality and Food Innovation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellat incidunt quasi quibusdam non nostrum, dolorem molestiae enim, excepturi soluta libero voluptatem provident consectetur accusamus nulla repudiandae nobis. Excepturi, assumenda.</p>
      </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Subscribe to our Newsletter</h1>
            <form action="">
              <input type="email" placeholder="Enter your email address ... ">
              <button type="submit" class="button_1">Subscribe</button>
            </form>
          </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
              <a href="contactus.html" ><i class="fa fa-database fa-5x"></i></a>
              <h3>Food Supplier Database</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nulla id quisquam veritatis eius perspiciatis velit eum unde soluta, veniam aliquid deleniti ex similique. Aperiam molestiae natus nulla sit, quis.</p>
            </div>
    
            <div class="box">
              <i class="fa fa-graduation-cap fa-5x"></i>
              <h3>Food Safety Training</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quia magnam, voluptates, impedit eum laboriosam assumenda eos sit at nihil, dolore! Aliquam, laborum neque corporis molestiae eius ea laudantium porro.</p>
            </div>
    
            <div class="box">
              <i class="fa fa-industry fa-5x"></i>
              <h3>Food Industry Solution</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quia magnam, voluptates, impedit eum laboriosam assumenda eos sit at nihil, dolore! Aliquam, laborum neque corporis molestiae eius ea laudantium porro.</p>
            </div>
          </div>
    </section>

    <section id="mainarticle">

    </section>

    <section id="mainnews">

    </section>

    <section id="resources">
        <div class="container">
            <div class="box">
              <a href="contactus.html" ><i class="fa fa-rss fa-5x"></i></a>
              <h3>Blog</h3>
              <a href="contactus.html" ><button type="submit" class="button_2">LEARN MORE</button></a>
            </div>
    
            <div class="box">
              <i class="fas fa-chart-line fa-5x"></i>
              <h3>Infographic</h3>
              <button type="submit" class="button_2">DOWNLOAD INFOGRAPHIC</button>
            </div>
    
            <div class="box">
              <i class="fa fa-mobile fa-5x"></i>
              <h3>Mobile Application</h3>
              <button type="submit" class="button_2">LEARN MORE</button>     
            </div>
          </div>
    </section>
{% endblock %}