{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Specialiste in Food Safety, Food Quality and Food Innovation">
    <meta name="author" content="Patrick Bope">
    <title>{% block title %} Agro-Whizz | Welcome {% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="icon" href= "{% static 'imgs/home/AWLogo.jpg' %}" type="image/gif" sizes="24x24">
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    
  </head>
  <body>
    <header>
        <div class="topnav">
          <div id="topnavright">
              <ul>
                <li>Facebook</li>
                <li><a href="https://twitter.com/AgroWhizz" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li>Contact</li>
                <li><input type="text" placeholder="Search.."><button type="submit" class="searchButton"><i class="fa fa-search"></i></button></li>
                <li >
                  
                  <div class="collapse navbar-collapse" id="mainMenu">
                      {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                              <a class="dropdown-item" href="#">My account</a>
                              <a class="dropdown-item" href="#">Change password</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                          </li>
                        </ul>
                      {% else %}
                        <form class="form-inline ml-auto">
                          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                        </form>
                      {% endif %}
                  </div>
                                    
                </li>
              </ul>
          </div>
          
          <div id="topnavleft">
            <ul>
              <li><i class="fas fa-address-book"></i>+27 717628603</li>
              <li><i class="fa fa-envelope"></i> info@agrowhizz.com</li>
            </ul>
          </div>
        </div>
        <div class="container">
            
            <div id="branding">
              <h1> <span class="highlight img-fluid"><img src="{% static 'imgs/home/AWLogo.jpg' %}" alt="Logo" height="50" width="50" ></span> <span id="agro">Agro</span><span id="whizz">Whizz</span></h1>
            </div>
            <div id="nav">
              <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href= {% url 'blog'%}>BLOG</a></li>
                <li><a href={% url 'whatWeServe'%}>What We Serve</a></li>                  
                <li><a href= {% url 'whatWeDo'%}>What We Do</a></li>
                <li><a href={% url 'boards'%}>Discussion Board</a></li>                
              </ul>
            </div>
        </div>
       
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
      <section id="footer_1">
          <div class="footinfo">
            <h3>Head Office</h3>
            <p>58 batts road Wynberg capetown 7800</p>
            <p>Email: <a href = "mailto: info@agrowhizz.com"> info@agrowhizz.com</a></p>
            <p>Phone <a href="tel:+27717628603">+27 71 762 8603 </a> 
            <p>Facebook</p>
            <p>Twitter</p>

          </div>
          <div class="footinfo">
              <h3>Quick Links</h3>
              <p>58 batts road Wynberg capetown 7800</p>
              <p>Email: <a href = "mailto: info@agrowhizz.com"> info@agrowhizz.com</a></p>
              <p>Phone <a href="tel:+27717628603">+27 71 762 8603 </a> 
                
          </div>
          <div class="footinfo">
              <h3>Industry Topics</h3>
              <p>58 batts road Wynberg capetown 7800</p>
              <p>Email: <a href = "mailto: info@agrowhizz.com"> info@agrowhizz.com</a></p>
              <p>Phone <a href="tel:+27717628603">+27 71 762 8603 </a> 
                
          </div>
      </section>
      <div id="footer_2">
        <div class="footbottom">
            <p>Copyright &copy; 2017 Agro-Whizz. <a href="privacy.html">Privacy Policy</a>/<a href="terms.html">Terms of Use</a>/<a href="sitemap.html">Sitemap</a> </p>
        </div>
      </div>
      
  </footer>
  <script src="{% static 'js/home/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/home/popper.min.js' %}"></script>
  <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
            
  </body>
