{% extends 'home/index.html' %}
{% block content %}

<section class="articles">
    <div class="row card-panel hoverable #dcedc8 light-green lighten-4">
            <div class="col s12 m6">
                    <div class="card center-align z-depth-5">
                        <div class="card-image">
                            <a href="contactus.html" ><i class="fa fa-database fa-5x"></i></a>
                        </div>
                        <h3 class="card-title">Food Supplier Database</h3>
                        <div class="card-content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nulla id quisquam veritatis eius perspiciatis velit eum unde soluta, veniam aliquid deleniti ex similique. Aperiam molestiae natus nulla sit, quis.</p>
                        </div>
                          <div class="card-stacked">
                            <div class="card-action">
                               <a class="waves-effect waves-light btn-small" href="#">More Reading</a>
                        
                            </div>
                        </div>
                  </div>
              </div>
        <h1><strong>About</strong></h1>
        <p>Agro-Whizz is a food consultancy  that focuses on promoting food safety, food quality and food innovation in Africa</p> 
        
        <p>Agro-Whizz is founded by Mr. Patrick Bope and who has been in the food industry since 2013.</p> 
        
        <p>The Vision of Agro-Whizz is to help food industry, restaurant and food handlers to produce a higher safe and quality product. Agro-Whizz use proven techniques and knowledge to help is customers to produce higher quality and safe products that will in turn increase the product value on the market.</p> 
        
        <p>By understanding the entire food manufacturing process, Agro-Whizz will help optimize all procedures – saving hundreds of percentages in losses and adding to the total profitability of your company.</p> 
    </div>
</section>


{% endblock %}