{% extends 'home/asideLayout.html' %}
{% block title %} 
What we do 
{% endblock %}
{% block sidebar %}

<section class="articles">
    <div class="row card-panel hoverable #dcedc8 light-green lighten-4">
            <div class="col s12 m6">
                    <div class="card center-align z-depth-5">
                        <div class="card-image">
                            <a href="contactus.html" ><i class="fa fa-database fa-5x"></i></a>
                        </div>
                        <h3 class="card-title">Food Supplier Database</h3>
                        <div class="card-content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nulla id quisquam veritatis eius perspiciatis velit eum unde soluta, veniam aliquid deleniti ex similique. Aperiam molestiae natus nulla sit, quis.</p>
                        </div>
                          <div class="card-stacked">
                            <div class="card-action">
                               <a class="waves-effect waves-light btn-small" href="#">More Reading</a>
                        
                            </div>
                        </div>
                  </div>
              </div>
        <h1><strong>About</strong></h1>
        <p>Agro-Whizz is a food consultancy  that focuses on promoting food safety, food quality and food innovation in Africa</p> 
        
        <p>Agro-Whizz is founded by Mr. Patrick Bope and who has been in the food industry since 2013.</p> 
        
        <p>The Vision of Agro-Whizz is to help food industry, restaurant and food handlers to produce a higher safe and quality product. Agro-Whizz use proven techniques and knowledge to help is customers to produce higher quality and safe products that will in turn increase the product value on the market.</p> 
        
        <p>By understanding the entire food manufacturing process, Agro-Whizz will help optimize all procedures – saving hundreds of percentages in losses and adding to the total profitability of your company.</p> 
        
        <h1><strong>How we started</strong></h1>

        <a href="https://www.thefoodsafetynetwork.co.za/about-us"><strong>FROM THIS LINK</strong> </a>
        
        <p>Knowledge is the key to success - and the Food Safety Network was created as a result of an ever increasing demand for food safety information within the food industry.
        
        Our website is the core of our business, acting as a knowledge bank for industry and consumer alike, where they can access information and resources, register for food safety training, advertise their services and keep updated with pertinent food news.  We want our passion for food safety to be contagious, so that we can encourage all those in the industry to build a food safety culture within their company.
        
        We are more than just a local business – we network with fellow professionals across the globe, to learn from them and to ensure that we are abreast of current food safety issues and worldwide industry trends.</p> 
        
        <h1><strong>Who we are</strong></h1>
        
        <p>Our team brings combined experience from a wealth of sectors to The Food Safety Network portfolio. These include Environmental Health, Food Safety Management Systems, Quality Systems, Occupational Health & Safety, Training and Microbiology.</p> 
        
        <h1><strong>What we do</strong></h1>
        The Food Safety Network provides a one-stop, hassle free experience, for both industry and consumer alike…
        
        For the industry we offer resources, access to industry news and an accessible marketing platform For consumers we offer information on relevant legislation, advice, news and opportunity for commentary.
        
        Our focus targets these 5 key areas:
        
         Training
        
        Equipping the industry with accurate and effective training is a key focus of The Food Safety Network.  We have selected technical experts from across the country to present our range of training courses, ranging from Introduction to Food Safety, to HACCP and ISO 22000.  We are perhaps best known for our auditor courses – both the two day Internal Auditor and the SAATCA registered five day Lead Auditor course.  We also offer in-house training by arrangement, suited to your company’s specific needs and location.
        
        Over and above our range of courses is our annual food safety Symposium, which brings the best of international speakers to our shores.
        
         Resources
        
        We realize that knowledge is critical for success, so we provide a number of avenues for the industry to acquire material and resources that will equip them to carry out their jobs more effectively, with the goal of food safety in mind.  We import highly recommended range of Training books, CD’s and Training Aids from Highfield.co.uk.  We also offer industry guidelines such as the Chilled Food Association Guidelines, and we aim to add further guidelines to this in the future.
        
         Directory
        
        Our online Directory of services offers an effective platform for providers of relevant food safety industry services, products, information, associations and organizations to list their services.  This  has proved increasingly popular over the years and we receive numerous electronic and telephonic enquiries, which we connect with the relevant advertisers in our Directory.
        
         Consumer
        
        We aim to create consumer awareness of the issues relating to food safety and to provide an accurate and easy to access library of information for them. The creation of our Facebook page called “Food Crimes” was established in an effort to provide consumers with a place to air their view and experiences when it comes to food issues.
        
         Media
        
        Communication and awareness underpins all that we do at the Network, and we aim to provide a a starting place for readers to access the information they need, either on our website, or through links to other food safety professionals and organisations.  We offer a wealth of articles and information in order to make this goal a reality.  Our impact is not just limited to our website – we supply commentary on food safety articles in industry publications;we active across all the popular social platforms and our new blog will provide additional input oh topical issues.
        
        To read more about us, download our company profile here
         
        
         The Food Safety Network is enabled by Intertek.
        
        Intertek is the industry leader with over 35,000 people in 1,000 locations in over 100 countries. Whether your business is local or global, we can ensure your products meet quality, health, environmental, safety, and social accountability standards for virtually any market around the world.  We hold extensive global accreditations, recognitions, and agreements, and our knowledge of and expertise in overcoming regulatory, market, and supply chain hurdles is unrivaled.
        
        Intertek delivers innovative solutions to facilitate their customers’ success in the global marketplace and, most importantly, to provide their customers with confidence.
        By leveraging our local service and global network, they enable their customers to dedicate their primary energies to their core business activities. Intertek offers comprehensive programmes and services which draw on their industry specific knowledge and technical expertise.
    </div>
</section>


{% endblock %}